---
layout: default
title: Home
---

<table style="border: 0px; border-collapse: collapse">
  {% for p in paginator.posts %}
  <tr class="shaded-row-top">
    {% capture url %}{{ p.url | relative_url }}{% endcapture %}
    {% capture img %}/assets/img/post.png{% endcapture %}
    {% if p.image %}{% capture img %}{{ p.image }}{% endcapture %}{% endif %}
    <td class="summary-img">
      <a href="{{ url }}">
        <img class="summary-img" src="{{ img | relative_url }}"/>
      </a>
    </td>
    <td>
      <div class="post-info">
        <span style="font-size: 1.3em; color: black">
          <a href="{{ url }}" style="color: black">
            {{ p.title | markdownify | remove: '<p>' | remove: '</p>' }}
          </a>
        </span>
        <br>
        <i>{{ p.date | date: site.datefmt }}</i>
      </div>
    </td>
  </tr>
  <tr class="shaded-row-bot">
    <td colspan="2">
      <div class="excerpt">
        {{ p.excerpt | remove: '<p>' | remove: '</p>' }}
      </div>
    </td>
  </tr>
  <tr><td colspan="2"></tr>
  {% endfor %}
</table>

<br>

<!-- Pagination links -->
<div class = "paginator">
  {% if paginator.total_pages > 1 %}
  {% if paginator.next_page %}
  <a class="older paginate-button"
     href="{{ paginator.next_page_path | relative_url }}">Older Posts</a>
  {% endif %}
  {% if paginator.previous_page %}
  <a class="newer paginate-button"
     href="{{ paginator.previous_page_path | relative_url }}">Newer Posts</a>
  {% endif %}
  {% endif %}
</div>

