
<footer class= "footer">
  <p>Copyright {{ 'now' | date: "%Y" }} {{site.author.name}}; all rights
  reserved.</p>
  <p>Theme based on <a href="https://github.com/PandaSekh/Jekyll-YAMT">YAMT</a>
  by <a href="https://alessiofranceschi.me/">Alessio Franceschi</a>.</p>
</footer>

