
<meta charset="utf-8">

<!-- See 'https://www.w3schools.com/css/css_rwd_viewport.asp'. -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- LINK TO ATOM FEED FOR SEO -->
{% capture fxml %}/feed.xml{% endcapture %}
{% capture feed %}{{ fxml | relative_url }}{% endcapture %}
<link rel="alternate" type="application/atom+xml" href="{{ feed }}"/>

<!-- FAVICON -->
{% capture img %}/assets/favicon.ico{% endcapture %}
{% capture ico %}{{ img | relative_url }}{% endcapture %}
<link rel="icon" href="{{ ico }}" type="image/x-icon"/>
<link rel="shortcut icon" href="{{ ico }}" type="image/x-icon"/>

<!-- CSS -->
<link rel="stylesheet" href={{ "/assets/css/main.css" | relative_url }}/>
<link rel="stylesheet" href={{ "/assets/css/syntax.css" | relative_url }}/>

<!-- Icons -->
<link
   rel="stylesheet"
   href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"/>

<!-- SEO Plugin (title, og:description, og:image, etc.) -->
{% seo %}

<!-- Google Analytics -->
{% if site.data.settings.analytics-id%}
{%- include analytics.html -%}
{% endif %}
<!-- End Google Analytics -->

<!-- MATHJAX -->
<script type="text/javascript">
  window.MathJax = {
    tex:    { packages: ['base',    'ams'      ] },
    loader: { load:     ['ui/menu', '[tex]/ams'] }
  };
</script>
<script type="text/javascript"
        id="MathJax-script"
        async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>

<!-- HACK FONT FOR MONOSPACE -->
{% capture hackfnt %}https://cdn.jsdelivr.net/npm/hack-font@3{% endcapture %}
{% capture hackcss %}{{ hackfnt }}/build/web/hack.css{% endcapture %}
<link rel="stylesheet" href="{{ hackcss }}">

