
<header id="header">
  <div id = site_title>
    <a href="{{ "/" | absolute_url }}"><h1>{{site.title}}</h1></a>
    {% if site.data.settings.subtitle.active %}
    <h2>{{ site.data.settings.subtitle.text }}</h2>
    {% endif %}
  </div>
  <div id="subheader">
    {% if site.data.settings.nav.pages.active %}
    <nav class="pages">{%- include pages.html -%}</nav>
    {% endif %}
    {% if site.data.settings.nav.social.active %}
    <nav class="social">{% include social.html %}</nav>
    {% endif %}
  </div>

</header>

<div><p/></div>

<!--
  Search
  -----
  This should probably move to its own page because page-load time could
  grow large after the search-database grows large, as the number of posts
  grows large.
-->
<div id="search-container">
  <input type="text" id="search-input" placeholder="Search blog posts..">
  <ul id="results-container"></ul>
</div>
{% capture dir %}/assets/node_modules/simple-jekyll-search{% endcapture %}
{% capture sjs %}{{ dir }}/dest/simple-jekyll-search.min.js{% endcapture %}
<script src="{{ sjs | relative_url }}" type="text/javascript"></script>
{% capture json %}/search.json{% endcapture %}
<script>
  SimpleJekyllSearch({
    searchInput: document.getElementById('search-input'),
    resultsContainer: document.getElementById('results-container'),
    json: "{{ json | relative_url }}"
  })
</script>

<div><p/></div>

