<div class="related">

  {% assign maxRelated = 20 %}
  {% assign minCommonTags =  1 %}
  {% assign maxRelatedCounter = 0 %}
  {% assign matches = 0 %}

  <!-- See if there be at least one match. -->

  {% for post in site.posts %}

  {% assign sameTagCount = 0 %}
  {% assign commonTags = '' %}

  {% for tag in post.tags %}
  {% if post.url != page.url %}
  {% if page.tags contains tag %}
  {% assign sameTagCount = sameTagCount | plus: 1 %}
  {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
  {% assign commonTags = commonTags | append: tagmarkup %}
  {% endif %}
  {% endif %}
  {% endfor %}

  {% if sameTagCount >= minCommonTags %}
  {% assign matches = 1 %}
  {% break %}
  {% endif %}

  {% endfor %}


  {% if matches >= 1 %}

  <div class="related-title">{{site.data.settings.related-posts.title}}</div>

  {% for post in site.posts %}

  {% assign sameTagCount = 0 %}
  {% assign commonTags = '' %}

  {% for tag in post.tags %}
  {% if post.url != page.url %}
  {% if page.tags contains tag %}
  {% assign sameTagCount = sameTagCount | plus: 1 %}
  {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
  {% assign commonTags = commonTags | append: tagmarkup %}
  {% endif %}
  {% endif %}
  {% endfor %}

  {% if sameTagCount >= minCommonTags %}
  <div class = "related-posts">
    <a href="{{ post.url | relative_url}}">{{ post.title  }}</a>
  </div>
  {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
  {% if maxRelatedCounter >= maxRelated %}
  {% break %}
  {% endif %}
  {% endif %}

  {% endfor %}
  {% endif %}

</div>
