
<div class="tags">
  <div class="tags-title">Tags:</div>
  {% assign tags = page.tags %}
  {% for tag in tags %}
  <a href="{% capture url %}/tags/#{{ tag | slugify }}{% endcapture %} {{ url | relative_url }}">{{tag}}</a>
  {% unless forloop.last %}&nbsp;{% endunless %} 
  {% endfor %}
</div>

