
$base: #a2a2a2;
$light-grey: #ebebeb;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html{ scroll-behavior: smooth; }

.container {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}

.task-list{ list-style: none; }

//Alerts
.alert{
  padding: 20px;
  border-radius: 0 4px 4px 0;
  color: #fff;
  display: block;
  font-size: larger;
}

.y{
  background-color: #f3b244;
  border-left: 7px solid #dc900e;
}

.g{
  background-color: #60c17d;
  border-left: 7px solid #55ab6f;
}

.r{
  background-color: #e45454;
  border-left: 7px solid #cb2020;
}
//End Alerts

blockquote {
  border-left: .25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 1em;
  cite{
    display: inline-block;
    margin-top: 50px;
    cite::before{
      content: "- ";
      margin-left: 10px;
    }
  }
}

#markdown-toc::before {
  content: "Contents";
  font-size: 150%;
  line-height: 150%;
  margin-left: -20px;
}

#markdown-toc {
  border: 1px solid black;
  background-color: #FFF8F8;
}

