
//Mixins
@mixin border($amount){
  -webkit-border-radius: $amount;
  -moz-border-radius: $amount;
  -khtml-border-radius: $amount;
  border-radius: $amount;
}

.featured-img-container{
  margin-block-start: 1em;
  margin-block-end: 1em;
  img{
    max-width: 100%;
    height: auto;
    max-height: 450px;
    @include border(7px);
  }
}

.summary-img {
  width: 8em;
  margin: 1em;
  vertical-align: middle;
  align: center;
}

.shaded-row-top {
  background: #EEEEFF;
  border-left: 1px solid darkblue;
  border-top: 1px solid darkblue;
  border-right: 1px solid darkblue;
}

.shaded-row-bot {
  background: #EEEEFF;
  border-left: 1px solid darkblue;
  border-bottom: 1px solid darkblue;
  border-right: 1px solid darkblue;
}

