
.post-info {
  // Originally, I had a maximum width in order to keep the column of text
  // legible. By "legible" I mean that the column is not too many *characters*
  // or *words* wide. A maximum width in pixels is not necessary if, in the
  // body-section, one specify the size of the base-font in terms of vw-units.
  // Then, when the browser-window is widened, the font-size will increase to
  // keep the column of text legible.
  //max-width: 600px;
  margin: 2em;
}

.excerpt {
  margin: 1em;
}

