
li.post{
  display: block;
  padding-top: 1rem;
}

.post{
  padding-bottom: 1rem;
}

img{
  display: block;
  margin-left: 0px;
  margin-right: auto;
  margin-bottom: 15px;
  max-width: 100%;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
}

.categories{
  p{
    display: inline-block;
  }
}

article::after{
  display: block;
  content: '';
  width: 5rem;
  height: 1px;
  margin: 30px auto;
  background-color: #d5d5d5;
}

