
h1, h2, h3, h4, h5, h6{
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
}

// Each successive heading is 0.85 the size of the previous.
h1{ font-size: 3.00rem; }
h2{ font-size: 2.55rem; }
h3{ font-size: 2.17rem; }
h4{ font-size: 1.84rem; }
h5{ font-size: 1.57rem; }
h6{ font-size: 1.33rem; }

//System stack for everything
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

a:hover {
  background: lightgray
}

a:visited {
  color: black;
}
