<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>

    <div class="container">
      {% include header.html %}

      <div class="post-container">
        {{ content }}
      </div>
    </div>

    {%- include footer.html -%}

  </body>
</html>
