<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>

  <body>

    <div class="container">
      {% include header.html %}

      <div class="post-container">
        <article id="post">
          {% if page.image %}
          <p/>
          <a href="{{ page.image | relative_url }}">
            <img src="{{ page.image | relative_url }}" style="max-height:128px"/>
          </a>
          {% endif %}
          <h2 id="post-title"
              style="color:{{ site.data.settings.colors.post-title }}">
            {{ page.title }}
          </h2>

          {% if site.data.settings.date-under-post.active %}
          <div>
            <span>
              <i class="far fa-calendar" aria-hidden="true"></i>
              <span>{{ page.date | date: site.datefmt }}</span>
              -
              <i class="far fa-clock"></i>
              {% include reading_time.html %}
            </span>
          </div>
          {% endif %}
          <div style="font-family: times; font-size: 1.2em">
          {{ content }}
          </div>
        </article>
      </div>

      {% include tags.html %}

      {% if site.data.settings.related-posts.active %}
      {% include related-posts.html %}
      {% endif %}

      {% if site.data.settings.comments %}
      {% include comments.html %}
      {% endif %}
    </div>

    {%- include footer.html -%}

    {% if site.data.settings.mathjax.active %}
    <script id="MathJax-script"
            async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    {% endif %}
  </body>
</html>

