---
layout: default
permalink: /tags/
title: Tags
---

{% for tag in site.tags %}
  <div class="archive-group">
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
    <div id="#{{ tag_name | slugize }}"></div>
    <p></p>

    <h2 class="archive-cat">{{ tag_name }}</h2>
    <a name="{{ tag_name | slugize }}"></a>
    <ul>
    {% for post in site.tags[tag_name] %}
      <li><a class="archive-link" href="{{ post.url | relative_url}}">{{post.title}}</a></li>
    {% endfor %}
    </ul>
  </div>
{% endfor %}